/* .navbar-toggler {
	width: 60px;
	height: 20px;
	position: relative;
	transition: .5s ease-in-out;
	margin-right: 3vw;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
	outline: none;
	box-shadow: none;
	border: 0;
	position: relative;
} */

.navbar-toggler-icon {
	background-image: none !important;
	background-color: var(--bs-white);
	height: 3px;
	width: 25px;
	margin: 10px 0;
	position: relative;
	transition: all 0.35s ease-out;
	transform-origin: center;
}

.navbar-toggler-icon::before {
	display: block;
	background-color: var(--bs-white);
	height: 3px;
	content: "";
	position: relative;
	top: -7px;
	transition: all 0.15s ease-out;
	/*taken down to hide quicker*/
	transform-origin: center;
}

.navbar-toggler-icon::after {
	display: block;
	background-color: var(--bs-white);
	height: 3px;
	content: "";
	position: relative;
	top: 4px;
	transition: all 0.35s ease-out;
	transform-origin: center;
}

.navbar-dark .navbar-toggler-icon,
.navbar-dark .navbar-toggler-icon::before,
.navbar-dark .navbar-toggler-icon::after {
	background-color: var(--bs-white);
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
	transform: rotate(45deg);
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon::before {
	opacity: 0;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon::after {
	transform: rotate(-90deg) translateX(7px);
}

.dropdown-item:hover {
	cursor: pointer;
}

.navbar {
	position: absolute;
	width: 100vw;
}

.navbar-toggler-icon {
	zoom: 225%;
}

.nav-link:hover { 
	/* box-shadow: 0 30px 10px -10px rgba(255, 255, 255, .5); */
	text-decoration: underline;
}

@media all and (max-width: 992px) {
	.navbar-nav {
		zoom: 150%;
	}
	nav {
		background-color: rgba(0, 0, 0, .5);
	}
	.nav-item {
		margin-left: 1vw;
	}
}

nav {
	/* box-shadow: 0 30px 10px -10px rgba(0, 0, 0, .5); */
	background-color: rgba(0, 0, 0, .5);
}