/* 
To make global variables:
:root {
	--text-color: #ddd;
}

body {
	To use variables:
	color: var(--text-color);
}
*/

/* This is the general stylesheet used in every page. Individual pages can have their own stylesheets as well. */

body {
	background-color: black;
	font-family: 'Courier New', Courier, monospace;
	color: white;
	/* text-align: center; */
	min-height: 100vh;
	position: relative;
	margin: 0;
	display: flex;
	flex-direction: column;
	padding-left: 10vw;
	padding-right: 10vw;
}

* {
	box-sizing: border-box;
	color: inherit;
	margin: 0;
	padding: 0;
}

ion-icon {
	color: white;
}

.list-group-item {
	border: none !important;
}

.prevent-select,
.prevent-select * {
	-webkit-user-select: none;
	/* Safari */
	-ms-user-select: none;
	/* IE 10 and IE 11 */
	user-select: none;
	/* Standard syntax */
}

h1 {
	font-size: 3rem;
	margin-top: 8vh;
}

p {
	font-size: 1.7rem;
}

footer {
	margin-top: auto;
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
}

a {
	text-decoration: none;
	transition: all 0.3s ease;
}

a:hover {
	text-decoration: underline;
	transition: all 0.3s ease;
}

/* Navbar stuff */
nav {
	/* background-color: white; */
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
	/* animation: fadeIn 5s; */
}

nav ul {
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav li {
	height: 80px;
}

nav a {
	height: 100%;
	padding: 0 30px;
	text-decoration: none;
	display: flex;
	align-items: center;
	font-size: 1.5rem;
	color: rgb(154, 154, 154);
}

nav a.active {
	color: white;
}

.life-bar-graph {
	margin-top: 30px;
	max-width: 75%;
}

.stat {
	display: flex;
	align-items: center;
	margin-bottom: 12px;
}

.label {
	flex: 1;
	font-size: 1.7rem;
	/* font-weight: bold; */
}

.bar {
	flex: 3;
	border: 1px solid #555;
	border-radius: 3px;
	height: 15px;
	/* Shorten the bars */
	margin-left: 30px;
	overflow: hidden;
}

.fill {
	height: 100%;
	background-color: white;
	transition: width 1s ease-in-out;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.sidebar {
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	width: 250px;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(15px);
	color: white;
	box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
	/* transition: transform 0.3s ease;
	transform: translateX(100%); */
	display: none;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	border: .5px solid white;
}

.sidebar li {
	width: 100%;
}

.sidebar a {
	width: 100%;
}

.menu-button {
	display: none;
}

.button {
	border: 1px solid white;
	padding: .8rem;
	font-size: 1.25rem;
	zoom: 1;
	transition: all 0.3s ease;
}

.button:hover {
	background-color: white;
	color: black;
	zoom: 1.1;
	transition: all 0.3s ease;
}

.projects-flex {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: space-between;
	margin-top: 20px;
	margin: 0 auto;
	width: 100%;
}

.project-box {
	border: 2px solid white;
	padding: 30px;
	border-radius: 2px;
	width: calc(50% - 20px);
	box-sizing: border-box;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-box:hover {
	transform: translateY(-5px);
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.project-box a {
	display: inline-block;
	margin-top: 10px;
	text-decoration: none;
}

.project-box a:hover {
	text-decoration: underline;
}

@media (max-width: 768px) {
	.hideOnMobile {
		display: none;
	}

	.menu-button {
		display: block;
	}

	h1 {
		font-size: 2.5rem;
	}

	p {
		font-size: 1.2rem;
	}

	nav ul {
		justify-content: flex-end;
	}

	#content {
		padding-left: 10vw;
		padding-right: 10vw;
	}

	.project-box {
		width: 100%;
	}

	body {
		padding-left: 5vw;
		padding-right: 5vw;
	};
}

@media (max-width: 400px) {
	.sidebar {
		width: 100%;
	}

	h1 {
		font-size: 2rem;
	}

	p {
		font-size: 1rem;
	}

	#content {
		padding-left: 10vw;
		padding-right: 10vw;
	}
}